* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  color: white;

}

*:link,
*:visited {
  text-decoration: none !important;
  color: white;

}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* main stuff*/
body {
  background-color: #000;
  font-family: "Lato", sans-serif;
  overflow-x: auto;
  /* overflow-y: hidden !important; */
  user-select: none;
}a

html {
  scroll-behavior: smooth;
}

.views {
  height: 100vh;
  padding-bottom: env(safe-area-inset-bottom);
  min-height: -webkit-fill-available;
}

/* navbars */
/* .__closedsidebarwrapper {
  color: #dc655e;
  position: center;
  transition: .3s;
  font-size: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #623028;
}

.__closedsidebarwrapper:hover {
  background-color: rgb(52, 31, 22);
  color: #dc655e;
  padding: 10px 2px 10px 1px;
  border-radius: 20%;
  border: 1px solid #dc655e;
  font-size: 10px;
  text-decoration: none;
  visibility: visible !important;
  margin: 0;
} */

/* h4{
    color:#dc655e;
    font-weight: normal;
  }
  H4:visited{
    color:#dc655e !important;
  }
  .h4:link{
    color:#dc655e !important;
  } */
/* .sidelist svg {
  color: #dc655e;
  position: center;
  width: 75%;
  padding: 10px 0 0 4px;
  transition: .3s;
}

ul .sidelist {
  list-style-type: none;
  width: 30px;
  background-color: #0a0e04;
  position: fixed;
  height: 100%;
  overflow: hidden;
  z-index: 100;
} */

/* .topnav ul {
  list-style-type: none;
  display: flex;
  width: 100vw;
  height: 34px;
  background-color: #111111;
  position: fixed;
  z-index: 101 !important;
  overflow: hidden;
  margin-right: 0;
  border-top: 1px solid rgb(41, 41, 41);
  border-bottom: 1px solid #292929;
  justify-content: space-evenly;
  align-items: flex-start;
} */

/* .topnav a {
  padding: 5px 8px 8px 5px !important;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: center;
} */

/* .topnav svg {
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 0 0 0 3px !important;
  margin: 0;
  height: 20px;
}

.topnav a:hover {
  color: white;
}

.topnav svg:hover {
  color: white;
}

ul .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111111;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
} */

/* pop out top nav   */
/* .mytopnavwrapper {
  height: 0;
  width: 100%;
  position: block !important;
  z-index: 100 !important;
  top: 0;
  background-color: #111111;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  transition: .3s;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
}

.mytopnavwrapper .item1 {
  grid-column: 3 / span 1;
  z-index: 100 !important;
}

#blockOne .mytopnavwrapper .item2 {
  grid-column: 4 / span 1;
  ;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: auto;
  opacity: 0%;
  z-index: 100 !important;
}

.mytopnavwrapper .item4 {
  grid-column: 1 / span 1;
  pointer-events: none;
  z-index: 100 !important;
}

.mytopnavwrapper .item5 {
  grid-column: 6 / span 1;
  pointer-events: none;
  z-index: 100 !important;
}

.mytopnavwrapper a {
  padding: 8px 8px 8px 8px !important;
  text-decoration: none;
  font-size: 14px;
  color: white;
  transition: 0.3s;
  text-align: center;
  grid-column: 2;
  max-height: 25px;
  z-index: 100 !important;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(253, 253, 253);
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: white;
}

.mytopnavwrapper a:hover {
  color: white;
  background-color: #333333;
}

nav .closebtn {
  position: absolute !important;
  top: 0 !important;
  right: 25px !important;
  font-size: 36px !important;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
} */

nav {
  background-color: #111;
  padding: 10px 0px 0px;
  text-align: center;
  border-bottom: 1px solid #333;
}

nav img {
  height: 50px;
  transition: .3s;
}

nav img:hover {
  opacity: 100%;
  filter: contrast(125%) brightness(125%);
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 10px;
}



nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #333;
}

.__threelinesicon {
  font-size: 30px;
  cursor: pointer;
  color: #dc655e;
  padding: 0 5px 0 6px;
  transition: 0.3s;
  border-bottom: 1px solid rgb(98, 48, 40);
}

.__threelinesicon:hover {
  background-color: rgb(52, 31, 22);
  border-radius: 20%;
  border: 1px solid #dc655e;
}

/* sections */
.gradient1 {
  background: #000;
  background: linear-gradient(180deg, rgba(17, 17, 17, 1) 85%, rgba(0, 0, 0, 1) 100%);
  height: 10vh;
}

.section1 {
  display: block;
  position: relative;
  /* max-height:720px; */
  height: auto;
  padding-bottom: 25px;
  z-index: 0;
  margin: 0;
  overflow: hidden;
  /* background-color: #111111; */
  background: black;
  background: linear-gradient(180deg, rgba(17, 17, 17, 1) 85%, rgba(0, 0, 0, 1) 100%);
  /* cursor: url('/Images/ELEMENTS_WATER_32.png') 0 0, auto; */
}

.section1 img {
  width: 75%;
  margin: auto calc(12.5% - 10px);
  display: block;
  filter: invert(1);
  padding: 7vmax 0 7vmax 0;
  transition: .3s;
}
.section1 .enterbutton {
  height:24px;
  width:72px;
  outline: 1px solid white;
  background-color: #222;
  background: #222;
  position: absolute;
  left: calc(50% - 36px);
  top: calc(85% - -6px);
  text-align: center;
  padding:4px 0 0 0;
  z-index: 101 !important;
  opacity: 100%;
  border-radius: 2px;
  transition: .3s;
}
.section1 .enterbutton:hover {
  outline-offset: 2px;
  outline-width: 3px;
}

.section1 .circle {
  border: 1px solid white;
  border-radius: 50%;
  width: calc(1vmin + 64px);
  height: calc(1vmin + 64px);
  /* 100px; */
  transform: translateY(-40px);
  margin-left: calc(50% - (1vmin + 32px));
  bottom: 0;
  /* overflow: hidden; */
  margin-top: 75px;
  margin-bottom: 100px;
  transition: .3s;
  visibility: hidden;
}

.section1 .lookDown {
  text-align: center;
  transform: translateY(15px);
  font-size: calc(0.5vmin + 8px);
  /* overflow: none; */
  transition: .3s;

  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 0;
  animation-name: appearFade2;
}

/* .section1 .circle:hover {
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: appearFade;
  
  content: url(/Images/icon\ 7.png);
} */
.section1 svg {
  /* margin: auto; */
  display: block;
  filter: invert(1);
  width: 64px !important;
  height: auto !important;
  background-color: none !important;
  z-index: 100 !important;
  padding: 7vmax 0 0vmax 0 !important;
  /* opacity: 0% !important; */
  /* transition: .3s !important; */
  position: absolute;
  margin-left: calc(50% - 32px);
  margin-top: calc(50vmin - (1vmin + 32px));
}

.iconBox {
  width: 240;
  height: 2400;
}

/* .section1 svg:hover {
  opacity: 100% !important;
} */

/* .section1 .circle:hover::after {
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: appearFade;
  
  content: url(/Images/icon\ 7.png);
} */
.section2 {
  /* background-color: #000000 !important; */
  /* overflow: hidden; */
  height: auto;
  padding-bottom: 50px;
  max-height: 750px;
  /* cursor: url('/Images/ELEMENTS_WATER_32.png') 0 0, auto; */
}

.section2 svg {
  margin: auto;
  display: block;
  filter: invert(1);
  width: 64px !important;
  height: auto !important;
  background-color: none !important;
  z-index: 100 !important;
  padding: 7vmax 0 0vmax 0 !important;
  /* opacity: 0% !important; */
  /* transition: .3s !important; */
  position: relative;
  margin-left: calc(50% - (1vmin + 32px));
  margin-top: calc(50vmin - (1vmin + 32px));
}

.section2 #SideL {
  width: 64px;
  position: absolute;
  left: 0 !important;
  margin: 0;
  top: 50%;
}

/* .section2 {
  border-bottom: 1px solid white;
} */

.section2 iframe {
  background-color: #000000 !important;
  aspect-ratio: 13/6;
  pointer-events: all;
  /* height:30%;  */
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 10vh;
  /* padding-bottom: 20vmin; */
  /* margin: 50px 0; */
  float: left;
  overflow: clip;
  /* filter: grayscale(100); */
  /* cursor: url('/Images/ELEMENTS_WATER_32.png') 0 0, auto; */
}

.section2 a {
  /* border-left: 1px solid white; */
  padding-left: 5vmax;
  padding-right: 5vmax;
  display: flow-root;
  max-height: 50vh;
  overflow: auto;
}

/* .section2 iframe:hover {
    cursor: url('/Images/ELEMENTS_WATER_32.png') 0 0, auto;
  } */
.section3 {
  width: 96%;
  /* background-color: black; */
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 1) 15%, rgba(17, 17, 17, 1) 100%); */
  height: auto;
  padding-bottom: 50px;

  /* cursor: url('/Images/ELEMENTS_WATER_32.png') 0 0, auto; */
}

.section3 a {
  /* float:right; */
  display: block;
  width: 84%;
  margin: 0 calc(10% - 10px);
  text-align: justify, center;
  /* padding: 50px 2.5% 25px 2.5%; */
  font-size: calc(10px + 1vw);
}

.sectionend {
  height: auto;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(1) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 0)'/><path d='M3.25 10h13.5M10 3.25v13.5' transform='translate(5,0)' stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(0, 0%, 40%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  outline: 1px solid #333;
  outline-offset: -1px;
  display: inline-block;
  width: 100%;
  align-items: center;
  /* margin-bottom: 35px; */
  transition: .3s;
}

/* .sectionend .centerlist {
  margin-left: calc(. * 100vw);
} */

.sectionend li {
  display: inline-flex;
  margin: 12px auto;
  /* margin-left: 8%;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%; */
}

.sectionend ul {
  /* margin-left: 33vw;
  width: 33vw; */
  display:flex;
}

.sectionend span {
  border: 1px solid white;
  display: inline-block;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  transition: .1s;
  filter: blur(100);
}

.sectionend img {
  max-height: 32px;
  max-width: auto;
  margin-left: 10px;
  margin-top: 16px;
  filter: invert(100);
  transition: .3s;
}

.sectionend span:hover {
  transform: scale(1.1);
  border-radius: 25%;
}

/* .sectionend:hover { */
/* outline: 1px solid transparent; */
/* outline-offset: -3px; */
/* } */
.AFStoplogo {
  /* display: block; */
  /* position: relative; */
  justify-content: center;
  z-index: 5;
  pointer-events: none;
  overflow-x: hidden;

  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: appearFade;
}

details {
  /* border: 1px solid white; */
  border-radius: 5px;
  /* padding: 0.5em 0.5em 0; */
  cursor: pointer;
  margin-left: calc(10vw - 10px);
  margin-bottom: 12px;
  width: 80vw;
  /* margin: 12px 6.6%; */
  overflow-x: hidden;
  overflow-y: hidden;
  object-fit: cover;
  text-align: center;
}
details img {
  margin:0;
  padding:0;
  height:auto !important;
  width: calc(100% + 10px);
  object-fit: cover;
  /* margin:0 calc(10% - 10px); */
  overflow-x:hidden;
}
::marker {
  display: none;
  
}

summary {
  
  list-style: none;
}

summary {
  
  /* font-weight: bold; */
  /* margin: -0.5em 1% 0; */
  /* padding: 0.5em; */
}

details[open] {
  /* padding: 0.5em; */
  /* bottom box height here */
  /* height: 250px; */
  /* margin: 12px 6.6%; */
}

details[open] summary {
  /* border-bottom: 1px solid #aaa; */
  margin-bottom: 0.5em;

}

.showanim {
  opacity: 0;
  -webkit-opacity: 0;

  transition: .6s;
  -webkit-transition: .6s;
}

.showanim.show {
  opacity: 1;
  -webkit-opacity: 1;
}

.bgimagestop {
  pointer-events: none;
  z-index: -1 !important;
}

footer {
  color: white;
}

/* use vmin and vmax for NEEDED things */
/* News section */
.grid-container {
  border: 1px solid rgb(83, 83, 83);
  outline: auto;
  outline-offset: -7px;
  outline-style: ridge;
  outline-color: rgb(88, 88, 88);
  ;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: rgb(58, 58, 58);
  padding: 10px;
  margin: 5vmin 5vmin;
  z-index: 100;
  pointer-events: all;
}

.grid-container .news {
  background-color: #333;
  color: white;
  width: 20%;
  height: 100%;
  font-size: 1.3vmax;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 100;
  padding: 0 !important;
  margin: 0 !important;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(77, 77, 77);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  z-index: 100;
}

.card {
  width: auto;
  height: 150px;
  border-radius: 4px;
  background: rgb(30, 30, 30);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  padding: .4em;
  z-index: 100;
}

.card img {
  width: 100%;
}

.card p {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background: #212121;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
}

.card p:hover {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  color: #0a0e04;
}

.card p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  /*
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    */
  transform: scale(1);
  -webkit-transition: all .5s;
  transition: all .5s;
  text-transform: uppercase;
  color: white;
  letter-spacing: .1em;
}

.spanscale {
  transform: scale(1.5);
}

.card p span:hover {

  transform: scale(1);
}

.newsimghover2 {
  transition: 0.3s;
}

.newsimghover2:hover {
  content: url(/Images/ALL.png);
  transition: 0.3s;
}

#work {
  overflow-y: hidden;
}

#work .work {
  pointer-events: all;
  height: 47vmax;
  width: 100%;
  /* outline:solid 1px white;
    outline-offset: -5px; */
  transition: .3s;
}

#work .work:hover {
  pointer-events: all;
  /* outline:solid 1px white;
    outline-offset: -10px; */
}

#work .work a {
  color: white;
  font-size: 16px;
  height: 100%;
  max-height: calc(47vmax - 40px - 300px);
  min-height: 200px;
  max-width: calc(100% - 27vmin - 40px);
  min-width: 320px;
  float: right;
  /* outline:solid 1px white;
    outline-offset: -5px; */
  margin: 10px;
  overflow-y: auto;
  white-space: no-wrap;
  text-overflow: ellipsis;
}

.absolute-center {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#work .work img {
  height: 100%;
  width: auto;
  transition: .3s;
  top: 0 !important;
  float: left !important;
  position: inherit;
}

#contact img {
  height: 100%;
  width: auto;
  transition: .3s;
  top: 0 !important;
  float: right !important;
  position: inherit;
  transform: scaleX(-1);
}

.slideLeft {
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: appearFade, appearLeft;
}

.slideRight {
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: appearFade, appearRight;
}

/* image slider */
.container {
  overflow: hidden;
  background-color: antiquewhite;
  height: 90vh;
  width: 90vw;
  border: 1px solid cornflowerblue;
  margin: auto;
}

.workarea {
  margin: 3vh auto;
  width: 80vw;
  height: 80vh;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  border: 1px solid cornflowerblue;
}

.center {
  text-align: center;
  border: 1px solid green;
  margin-left: auto;
  margin-right: auto;
  width: 39vw;
  background-color: white;
}

input {
  height: 100%;
  width: 50%;
  text-align: center;
  margin: auto;
  top: 0;
  left: 35px;
  opacity: 0.1;
  color: black;
  height: 90vh;
  width: 50.25vw;
  top: 900px;
  overflow: hidden;
}

input:active {
  background-color: rgb(200, 200, 200);
  color: white;
  background-color: aqua;
}

.buttonimg {
  position: absolute;
  margin: auto;
}

.images {
  width: 95%;
  max-height: 95%;
  align-content: center;
  padding: 0;
  object-fit: scale-down;
  display: none;
}

.center a {
  background-color: white;
  text-align: center !important;
}

.coolbutton {
  text-align: center !important;
}

.coolbutton:hover {
  clip-path: none;
  cursor: pointer !important;
}

.borderoffset {
  height: 26px;
  width: auto;
  position: static;
  padding: 3px 0 0 0 !important;
  margin: 0px;
  transition: .05s;
  border-radius: 2px;
  text-align: center;

}

.borderoffset:hover {
  margin: 0px 0px 0px 0px;
  border-radius: 5px;
}

.center a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center:link,
.center:visited {
  color: white;
}

.coolbutton {
  height: 28px;
  width: auto;
  display: flex;
  font-size: 16px;
  transition: 0.15s;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  border-radius: 2%;
}

.coolbutton:hover {
  margin: 0;
  opacity: 1;
  border-radius: 5%;
  border: 1px solid #ffffff;
  background-color: rgb(39, 39, 39);
  text-align: center;
}

.coolbutton:active {
  margin: 1px 0 1px 0;
  background-color: rgb(113, 113, 113);
  opacity: 1;
  border-radius: 5%;
}

.scrollercontainer {
  user-select: auto;
  background: #77a1d3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #77a1d3, #79cbca, #e684ae);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #77a1d3, #79cbca, #e684ae);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 90vh;
  width: 90vw;
  margin: 1% auto auto auto;
  white-space: nowrap;
  border-radius: 15px;
  box-shadow: hsla(0, 0%, 0%, 0.5) 0px 0px 20px 5px;
  scroll-snap-type: x proximity;
  z-index: 51;
  pointer-events: all;
}

.containerimg {
  margin: 1% 2%;
  height: 75vh;
  width: auto;
  min-height: 10vh;
  max-height: 100%;
  list-style: none;
  display: inline-table;
  overflow-x: hidden;
  overflow-y: none;
  border-radius: 15px;
  border: 1px solid red;
  top: 0;
  scroll-snap-align: center;
  pointer-events: none;
}

.clickable {
  pointer-events: all !important;
  z-index: 50 !important;
}

.boxlinks {
  width: 190px;
  height: 254px;
  background: #111111;
  border-radius: 5px;
  /* border: 1px solid white; */
  display: inline-block;
  margin: 0px 4% 0px 4%;
  transition: .1s;
  outline: white;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -4px;
}

.boxlinks:hover {
  outline-offset: -1px;
  border-radius: 2px;
}

.boxlinks .boxlinks-border-top {
  width: 60%;
  height: 3%;
  background: #333333;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.boxlinks span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.boxlinks .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.boxlinks .img {
  width: 100%;
  height: 80px;
  border-radius: 15px;
  margin: auto;
  margin-top: 0px;
  transition: .3s;
}

.boxlinks .img img {
  width: 100%;
  height: auto;
  transition: .3s;
  z-index: -10;

}

.boxlinks .img img:hover {
  width: 100%;
  height: auto;
  transform: translateY(-10%);
}

.boxlinks button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #444444;
  color: white;
  font-weight: 600;
  font-size: 10px;
  width: 80%;
}

.boxlinks button a {
  color: white;
}

.boxlinks button:hover {
  background: #666666;
}

/* play with */
.section1 .svgSide2 {
  cursor: pointer;
}

.section1 .svgSide2:hover {
  cursor: pointer;
}

.section1 .svgSide2:hover:active {
  cursor: default;
}

.section1 .svgSide2:active {
  pointer-events: all;
  transform: rotate(90deg);
  opacity: 0;
  transition: .3s;
}



.section1 .svgSide2:hover::before {
  background-image: url('/Images/_CONCEPT_twitter.gif');
  pointer-events: all;
  height: 1000px;
  width: 1000px;
  transform: rotate(90deg);
}




/* animations */
@keyframes appearFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes appearFade2 {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes appearLeft {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    float: left;
  }
}

@keyframes appearRight {
  0% {
    transform: translateX(200vw);
  }

  100% {
    float: right;
  }
}

.SVGAnimate {
  stroke-dasharray: 2500;
  stroke-dashoffset: 50;
  -webkit-animation: dash 7s linear normal;
  animation: dash 7s linear normal;
  animation-iteration-count: 1;
}


@keyframes dash {
  from {
    stroke-dashoffset: 2500;
  }

  to {
    stroke-dashoffset: 0;
  }
}



/* other screens */
@media screen and (max-height: 450px) {
  /* .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  } */
}

@media only screen and (max-height:1440px) {
  /* .topnav ul {
    right: 0;
  } */

}

@media only screen and (max-height:1080px) {
  /* .topnav ul {
    right: 0;
  } */

}



@media only screen and (max-height:720px) {
  /* .topnav ul {
    right: 0;
  } */

  input {
    height: 100%;
    width: 50%;
    text-align: center;
    margin: auto;
    top: 0;
    left: 35px;
    opacity: 0.1;
    color: black;
    height: 90vh;
    width: 40vw;
    top: 900px;
    overflow: hidden;
  }

  .container {
    overflow: hidden;
    background-color: antiquewhite;
    height: 90vh;
    width: 90vw;
    border: 1px solid cornflowerblue;
    margin: auto;
  }

  .boxlinks {
    width: 24%;
    margin: 0px 4% 0px 4%;

  }

  .boxlinks span {
    padding-top: 50px;

  }

  .section1 {
    max-height: 700px;
  }

  .section2 iframe {
    /* height:30% !important; */
    width: 95% !important;
    margin-right: 0% !important;
    margin-left: 2.5% !important;

  }

  .section2 {
    height: auto;
    padding-bottom: 50px;
  }

  .section2 a {
    font-size: calc(10px + 1vw);
    display: block;
    padding: 50px 2.5% 25px 2.5%;
    /* float: none;
    width: 100%;
    font-size: calc(10px + 1vw); */
  }
}

/* portrait more than 1/1 ratio */
@media screen and (orientation: portrait) and (min-aspect-ratio:1/1) {

  .section1 {
    max-height: 720px;
  }

  .card {
    width: auto;
    height: 200px;
  }

  .displayoff {
    display: none;
  }

  .displayoff2 {
    display: none;
  }

  .img1 {
    padding: 0;
  }

  .img2 {
    height: 200px;
  }

  .section2 iframe {
    /* height:30% !important; */
    width: 95% !important;
    margin-right: 0% !important;
    margin-left: 2.5% !important;
  }

  .section2 {
    height: auto;
    padding-bottom: 50px;
  }

  .section2 a {
    padding: 50px 2.5% 25px 2.5%;
    font-size: calc(10px + 1vw);
    display: block;
    /* float: none;
    width: 25%;
    font-size: calc(10px + 1vw); */

  }

}

/* portrait less than 1/1 ratio */
@media only screen and (orientation: portrait) and (max-aspect-ratio:1/1) {
  /* .topnav ul {
    right: 0;
  } */

  .section2 .slideshow-container {

    margin: 0 calc(10%) !important;
  }

  .section1 {
    max-height: 700px;

  }

  .card {
    width: 90vw;
    height: 75px;
  }

  .displayoff {
    display: none;
  }

  .displayoff2 {
    display: none;
  }

  /* .mytopnavwrapper {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
    overflow-y: scroll;
  } */

  .img1 {
    padding: 0;
  }

  .img2 {
    height: 200px;
  }

  #work .work a {
    font-size: 16px;
    max-height: 40vh;
    overflow-y: scroll;
    max-width: 90vw;
    min-width: 200px;
  }

  .boxlinks {
    width: 23%;
    margin: 0px 4% 0px 4%;

  }

  .boxlinks span {
    padding-top: 20px;

  }

  .section2 iframe {
    /* height:30% !important; */
    width: 95% !important;
    margin-right: 0% !important;
    margin-left: 2.5% !important;

  }

  .section2 {
    height: auto;
    padding-bottom: 50px;
  }

  .section2 a {
    padding: 50px 2.5% 25px 2.5%;
    font-size: calc(10px + 1vw);
    display: block;
    /* float: none;
    width: 90%;
    display: inline-block;
    padding: 2.5% 5%;
    font-size: calc(10px + 1vw); */

  }

  .sectionend li {
    display: inline-flex;
    /* margin-left: calc(15vmin - 5%); */

    margin-top: 15px;
    margin-bottom: 15px;
    /* margin-right: 0vmin;
    width: 10%; */
    padding: 5%
  }

  .sectionend ul {
    /* margin-left: calc(20vmin - 10%);
    width: 70vw; */
  }

  .sectionend span {
    border: 1px solid white;
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }

  .sectionend img {
    max-height: 16px;
    max-width: auto;
    margin-left: 5px !important;
    margin-top: 8px !important;
    margin: auto calc(12.5%);

  }

  .section1 svg {
    /* margin: auto; */
    /* display: block; */
    filter: invert(1);
    width: 64px !important;
    height: auto !important;
    background-color: none !important;
    /* z-index: 100 !important; */
    padding: 7vmax 0 0vmax 0 !important;
    /* opacity: 0% !important; */
    position: absolute;
    margin-left: calc(50% - 32px);
    margin-top: calc(40vmin - 32px);
  }

}

/* portrait short */
@media screen and (max-height:427) and (orientation:portrait) {
  .displayoff {
    display: none;
  }

  .section1 img {
    margin: auto calc(12.5%);
  }

  .displayoff2 {
    display: none;
  }

  .img1 {
    padding: 0;
  }

  .img2 {
    height: 200px;
  }

  .section1 {
    max-height: 700px;
  }

  .section2 iframe {
    /* height:30% !important; */
    width: 95% !important;
    margin-right: 0% !important;
    margin-left: 2.5% !important;

  }

  .section2 {
    height: auto;
    padding-bottom: 50px;
  }

  .section2 a {
    padding: 50px 2.5% 25px 2.5%;
    font-size: calc(10px + 1vw);
    display: block;
    /* float: none;
    width: 25%;
    font-size: calc(10px + 1vw); */

  }

}

/* Widescreen short */
@media screen and (orientation:landscape) and (max-height:426px) {
  .displayoff {
    display: none;
  }

  .section1 img {
    margin: auto calc(12.5%);
  }

  /* .mytopnavwrapper {
    margin: 0;
    padding: 0;
    border: none;
  } */

  .img1 {
    padding: 0;
  }

  .img2 {
    height: 200px;
  }

  .section2 iframe {
    /* height:30% !important; */
    width: 95% !important;
    margin-right: 0% !important;
    margin-left: 2.5% !important;

  }

  .section2 {
    height: auto;
    padding-bottom: 50px;
  }

  .section2 a {
    padding: 50px 2.5% 25px 2.5%;
    font-size: calc(10px + 1vw);
    display: block;
    /* float: none;
    width: 100%;
    font-size: calc(10px + 1vw); */
  }

}