.lore {
    color: black;
    font-size: 12px;
    background-color: dodgerblue;
    text-align: center;
    width: 60px;
    border-radius: 5px;
    display: inline-block;
}

.character {
    color: black;
    font-size: 12px;
    background-color: yellowgreen;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
}

.gamenews {
    color: black;
    font-size: 12px;
    background-color: red;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
}

.music {
    color: black;
    font-size: 12px;
    background-color: salmon;
    text-align: center;
    width: 72px;
    border-radius: 5px;
    display: inline-block;
}

.news {
    color: black;
    font-size: 12px;
    background-color: blueviolet;
    text-align: center;
    width: 60px;
    border-radius: 5px;
    display: inline-block;
}

.stream {
    color: black;
    font-size: 12px;
    background-color: rgb(0, 194, 184);
    text-align: center;
    width: 72px;
    border-radius: 5px;
    display: inline-block;
}
.all {
    color: black;
    font-size: 12px;
    background-color: rgb(0, 211, 95);
    text-align: center;
    width: 40px;
    border-radius: 5px;
    display: inline-block;
}